{{!-- A partial is a templating technique that isn't unique to Handlebars.js. Just like templates 
help minimize the repeated code across pages, partials help minimize the repeated code across
 templates. With partials, we can extract smaller components from a template to reuse in other templates. --}}
 
<article class="post">
  <div class="title">
    <a href="{{post_url}}" target="_blank">{{title}}</a>
    <span>({{format_url post_url}})</span>
  </div>
  <div class="meta">
    {{vote_count}} {{format_plural "point" vote_count}} by {{user.username}} on {{format_date created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>